<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapper</title>

    <script src="node_modules/vue/dist/vue.js"></script>

    <link href="public/Stylesheets/Styles.css" rel="stylesheet" type="text/css"/>

    <script type="text/x-template" id="map-row">
        <tr :id="row.id"><cell v-for="cell in row.cells" v-bind:cell="cell" v-bind:key="cell.id"></cell></tr>
    </script>
    <script type="text/x-template" id="map-cell">
        <td :id="cell.id" class="cell" :class="classObject">&nbsp;</td>
    </script>
</head>
<body>

<div id="mapper">

    <table>
        <row
            v-for="row in map.rows"
            v-bind:row="row"
            v-bind:key="row.id">
        </row>
    </table>

    <div id="control"></div>

</div>

<script src="public/JavaScripts/app.js"></script>

</body>
</html>